<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351322982828-f72e6edhimfpk7lec948j88ri2vcuouu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351322982828-f72e6edhimfpk7lec948j88ri2vcuouu</string>
	<key>API_KEY</key>
	<string>AIzaSyBp1U6rqHr36WbowDDaAVh4ZrwQlPIYj9U</string>
	<key>GCM_SENDER_ID</key>
	<string>351322982828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softwareEngineering</string>
	<key>PROJECT_ID</key>
	<string>handong-software-engineering</string>
	<key>STORAGE_BUCKET</key>
	<string>handong-software-engineering.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351322982828:ios:a99c8226dd8ce75d835209</string>
</dict>
</plist>